<h1>index admin</h1>
        <%= link_to "gerer les users", admin_users_path, class:'btn btn-primary btn-lg' %>
        <%= link_to "gerer les events", admin_users_path, class:'btn btn-primary btn-lg' %>